################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solid-Design-Principle/Single-Responsibility-Principle/Single-Responsibility-Principle.VC.VC.opendb
