################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solid-Design-Principle/Single-Responsibility-Principle/Single-Responsibility-Principle.VC.VC.opendb
/Solid-Design-Principle/Single-Responsibility-Principle/Single-Responsibility-Principle.VC.db
/Solid-Design-Principle/Single-Responsibility-Principle/Debug
/Solid-Design-Principle/Single-Responsibility-Principle/.vs/Single-Responsibility-Principle/v14
/Solid-Design-Principle/Open-Closed-Principle/Debug
/Solid-Design-Principle/Open-Closed-Principle/.vs/Open-Closed-Principle/v14
/Solid-Design-Principle/Open-Closed-Principle/Open-Closed-Principle.VC.VC.opendb
/Solid-Design-Principle/Open-Closed-Principle/Open-Closed-Principle.VC.db
