################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/Debug/**
**/.vs/*
**/*VC.db
**/*VC.opendb
